.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    bottom: 134px;
    left: 60px;
    z-index: 2;
  }
  
  .baloon {
    position: absolute;
    bottom: 120px;
    right: 700px;
    z-index: 1;

  }
  
  .speach {
    font-size: 25px;
    position: absolute;;
    bottom: 190px;
    right: 735px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    bottom: 10px;
    right: 500px;

  }