body {
    font-size: 16px;
}
    
h1 {
    color: red;
    font-family: sans-serif;
}

ul {
    text-align: center;
    font-style: bold;
    text-decoration: overline;
}

p {
    font-weight: 600px;
    font-size: 3em;
    font-style: bold;
    background-color: red;
}

.color_change {
    background-color: grey;
}

#yellow_change {
    color: yellow;
    font-style: bold;
}

#red_change {
    color: red;
    font-style: bold;
}

#brown_change {
    color: brown;
    font-style: bold;
}